<ion-header class="header">
  <ion-toolbar class="buttons">
    <ion-title>Vesteme</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="buttons">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-row height=10px></ion-row>
    <ion-button class="btns" color="buttons" routerLink='/meucloset' routerDirection='forward' expand="full"
      size="large">Meu Closet</ion-button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-row height=10px></ion-row>
    <ion-button class="btns" color="buttons" routerLink='/meulook' routerDirection='forward' expand="full" size="large">
      Meus Looks</ion-button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-row height=10px></ion-row>
    <ion-button class="btns" color="buttons" routerLink='/addlook' routerDirection='forward' expand="full" size="large">
      Novo Look</ion-button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-row height=10px></ion-row>
    <ion-button class="btns" color="buttons" routerLink='/contatos' routerDirection='forward' expand="full"
      size="large">Redes Sociais</ion-button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-row height=10px></ion-row>
    <ion-button class="btns" color="buttons" expand="full" size="large">Ajuda</ion-button>
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="footer-icon">
          <ion-icon name="home" [ngClass]="{'footer-selected': selected==='home'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/upload' routerDirection='root'>
          <ion-icon name="add-circle" [ngClass]="{'footer-selected': selected==='upload'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/contatos' routerDirection='root'>
          <ion-icon name="mail-open" [ngClass]="{'footer-selected': selected==='person'}"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>