<ion-header class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="dismiss()">
              <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
      </ion-buttons>
      <ion-title>Detalhes</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="deleteLook()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <img src="{{img.data}}" alt="" srcset="">

    <div class="info">

    <ion-select placeholder="Insira a categoria" [(ngModel)]="categoriaEscolhida">
        <div *ngFor="let categoria of categoriasArray">
          <ion-select-option value="{{categoria}}">{{categoria}}</ion-select-option>
        </div>
      </ion-select>
      <div >
        <ion-input [(ngModel)]="imageName" placeholder="Insira o nome da imagem"></ion-input>
      </div>
      <ion-button color="buttons" (click)="salvar()" [disabled]="!categoriaEscolhida">Salvar mudanças</ion-button>
    </div>
</ion-content>