.header {
    --ion-background-color: #F2F2EA;
    text-align: center;
  }

  .footer{

    --ion-background-color:#BAB6B5;
    text-align: center;
}

.footer-icon {
    font-size: 200%;
}
.footer-icon:focus{
  outline: none;
}

.footer-selected {
    color: black;
}
.buttons{
 
    text-align: center;
}