<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Meus Looks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="savingMode=true">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [class.hide]="choosingImage || savingMode">
    <canvas id="myCanvas" width="500" height="500"></canvas>
  </div>
    <div *ngIf="!choosingImage && !savingMode" class="fab-button">
      <ion-fab vertical="bottom" horizontal="start" slot="fixed ">
        <ion-fab-button (click)="chooseImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>




  <div *ngIf="choosingImage" class="grid buttons">
    <ion-grid class="grid" *ngIf="!categoriaEscolhida">
      <div *ngFor="let categoria of categoriasArray" class="box">
        <ion-row (click)="escolherCategoria(categoria)">
          <ion-button class="btns" color="buttons" expand="full"
          size="large">{{categoria}}</ion-button>
        </ion-row>
      </div>
    </ion-grid>

    <ion-grid class="grid" *ngIf="categoriaEscolhida && !subcategoriaEscolhida">
      <div *ngFor="let subcategoria of categorias[categoriaEscolhida]" class="box">
        <ion-row (click)="escolherSubcategoria(subcategoria)">
            <ion-button class="btns" color="buttons" expand="full"
            size="large">{{subcategoria}}</ion-button>
        </ion-row>
      </div>
    </ion-grid>

    <div *ngIf="categoriaEscolhida && subcategoriaEscolhida">
      <ion-row>
        <ion-col>
          <div class="images">
            <div class="one-image" *ngFor="let img of imagesToShow" (click)="onImageClick(img)">
              <img src="{{img}}" alt="" srcset="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="savingMode">
      <ion-select placeholder="Insira a categoria" [(ngModel)]="lookCategory">
          <div *ngFor="let categoria of lookCategoryArray">
            <ion-select-option value="{{categoria}}">{{categoria}}</ion-select-option>
          </div>
        </ion-select>
            <ion-input [(ngModel)]="lookName" placeholder="Insira o nome do look"></ion-input>
          <ion-button color="buttons" (click)="saveLook()" [disabled]="!lookCategory">Salvar imagens</ion-button>
  </div>
</ion-content>


<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="footer-icon" routerLink='/home' routerDirection='root'>
          <ion-icon name="home" [ngClass]="{'footer-selected': selected==='home'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/upload' routerDirection='root'>
          <ion-icon name="add-circle" [ngClass]="{'footer-selected': selected==='upload'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/contatos' routerDirection='root'>
          <ion-icon name="mail-open" [ngClass]="{'footer-selected': selected==='mail-open'}"></ion-icon>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>