<ion-header class="header">
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text1">

    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-row height=20px></ion-row>

    <h4> Nos mande uma mensagem!</h4>

    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-row height=20px></ion-row>

    <label class="item item-input">
      <textarea placeholder="Digite aqui..." rows="7" cols="46"></textarea>

    </label>

    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <ion-row height=20px></ion-row>

    <ion-button color="buttons">
      Enviar
    </ion-button>
    
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-row height=20px></ion-row>

    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-row height=20px></ion-row>

    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-row height=20px></ion-row>

    <h4> Nossas redes sociais!</h4>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-row height=20px></ion-row>
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="instagram" href="www.instagram.com">
          <ion-icon name="logo-instagram" ></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="pinterest">
          <ion-icon name="logo-pinterest"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="site">
          <ion-icon name="desktop"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>




  </div>


</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="footer-icon" routerLink='/home' routerDirection='root'>
          <ion-icon name="home" [ngClass]="{'footer-selected': selected==='home'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/upload' routerDirection='root'>
          <ion-icon name="add-circle" [ngClass]="{'footer-selected': selected==='upload'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon">
          <ion-icon name="mail-open" [ngClass]="{'footer-selected': selected==='mail-open'}"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>