<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
    </ion-buttons>
    <ion-title>Meus Looks</ion-title>
    <ion-buttons slot="end">
      <ion-searchbar #search [hidden]="!isSearching" (change)="updateSearch($event)" (focusout)="hideSearchBar($event)" name="search"></ion-searchbar>
      <ion-button [hidden]="isSearching" (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="isSearching">
    <div class="images">
        <div class="one-image" *ngFor="let img of filteredImages" (click)="showModal(img)">
          <img src="{{img.data}}" alt="" srcset="">
        </div>
    </div>
  </div>
  <div class="buttons">
  <ion-grid class="grid" *ngIf="!categoriaEscolhida && !isSearching">
    <div *ngFor="let categoria of categorias" class="box">
      <ion-row (click)="escolherCategoria(categoria)">
          <ion-button class="btns" color="buttons" expand="full"
          size="large">{{categoria}}</ion-button>
      </ion-row>
    </div>
  </ion-grid>
</div>
  <div *ngIf="categoriaEscolhida && !isSearching">
    <ion-row>
      <ion-col>
        <div class="images">
          <div class="one-image" *ngFor="let img of imagesToShow" (click)="showModal(img)">
            <img src="{{img.data}}" alt="" srcset="">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
    

</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="footer-icon" routerLink='/home' routerDirection='root'>
          <ion-icon name="home" [ngClass]="{'footer-selected': selected==='home'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/upload' routerDirection='root'>
          <ion-icon name="add-circle" [ngClass]="{'footer-selected': selected==='upload'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/contatos' routerDirection='root'>
          <ion-icon name="mail-open" [ngClass]="{'footer-selected': selected==='person'}"></ion-icon>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>