<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload de imagens</ion-title>
    <ion-buttons slot="end" *ngIf="imageResponse.length==0">
      <ion-button (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="buttons" *ngIf="imageResponse.length==0">

    <div class="spacer" style="width: 300px; height: 70px;"></div>
    <ion-row height=70px></ion-row>
    <ion-button class="btns" (click)="galeria('acessorios')" color="buttons"
      expand="full" size="large">Acessórios</ion-button>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-row height=19px></ion-row>
    <ion-button class="btns" (click)="galeria('roupas')" color="buttons"
      expand="full" size="large">O que vai vestir?</ion-button>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-row height=19px></ion-row>
    <ion-button class="btns" (click)="galeria('pes')" color="buttons"
      expand="full" size="large">E para os pés?</ion-button>


  </div>
  <div *ngIf="imageResponse.length!=0">
    <ion-row>
      <ion-col>
        <!-- More Pinterest floating gallery style -->
        <div class="images">
          <div class="one-image" *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-select placeholder="Insira a categoria" [(ngModel)]="categoriaEscolhida">
      <div *ngFor="let categoria of categoriasArray">
        <ion-select-option value="{{categoria}}">{{categoria}}</ion-select-option>
      </div>
    </ion-select>
    <div *ngIf="categoriaEscolhida!=''">
      <ion-select placeholder="Insira a subcategoria" [(ngModel)]="subcategoriaEscolhida">
        <div *ngFor="let subcategoria of categorias[categoriaEscolhida]">

          <ion-select-option value="{{subcategoria}}">{{subcategoria}}</ion-select-option>

        </div>
      </ion-select>
    </div>
    <div *ngIf="imageResponse.length==1">
      <ion-input [(ngModel)]="imageName" placeholder="Insira o nome da imagem"></ion-input>
    </div>
    <ion-button color="buttons" (click)="salvar()" [disabled]="!subcategoriaEscolhida">Salvar imagens</ion-button>
  </div>


</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="footer-icon" routerLink='/home' routerDirection='root'>
          <ion-icon name="home" [ngClass]="{'footer-selected': selected==='home'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/upload' routerDirection='root'>
          <ion-icon name="add-circle" [ngClass]="{'footer-selected': selected==='upload'}"></ion-icon>
        </ion-col>

        <ion-col size="4" class="footer-icon" routerLink='/contatos' routerDirection='root'>
          <ion-icon name="mail-open" [ngClass]="{'footer-selected': selected==='person'}"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>