ion-content{

  --ion-background-color:#E7E4DF;
}
 
 .buttons{
 
     text-align: center;
 }

 .btns {
  font-weight: normal;
  font-size: 35px;
 }
 
 .header {
  --ion-background-color: #F2F2EA;
  text-align: center;
}


.footer{

    --ion-background-color:#BAB6B5;
    text-align: center;
}
 
 .footer-icon {
     font-size: 200%;
 }

 .footer-icon:focus{
    outline: none;
}
 
 .footer-selected {
     color: black;
 }

 .image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }