<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="keyboard.isVisible">

    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login" color="medium">
      <ion-segment-button mode="ios" value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="buttons" expand="block">
          Entrar
        </ion-button>
        <ion-button class="ion-margin-top" (click)="facebookLogin()" color="buttons" expand="block">
          Entrar com facebook
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome completo" [(ngModel)]="userRegister.name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-select placeholder="Sexo" [(ngModel)]="userRegister.gender">
            <ion-select-option value="f">Feminino</ion-select-option>
            <ion-select-option value="m">Masculino</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">          
          <ion-input placeholder="Data de nascimento" [(ngModel)]="userRegister.birthdate"></ion-input>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1901-01-01" max="2020-12-12" ></ion-datetime>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Profissão" [(ngModel)]="userRegister.profession"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Cidade/Estado" [(ngModel)]="userRegister.city_state"></ion-input>
        </ion-item>
        

        <ion-button class="ion-margin-top" (click)="register()" color="buttons" expand="block">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides> 

  <div class="room">
    <div class="wardrobe" [ngStyle]="{'background-position-x': wardrobePosition + 'px'}"></div>
    
    <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible"></div>
  </div>

</ion-content>