.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 10%;
    }
}
ion-slides {
    height: 110%;

    .slide-inner {
        width: 70%;
        color: black;
        background-color: transparent;
        border-radius: 5px;

        ion-item {
            --background: rgba(249, 250, 245, 1);
            --border-radius: 10px;
            
        ion-input {
                --color:black;
            }
        }
    }
}

.room{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #F2F2EA;

}