// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** favorite **/
  --ion-color-favorite: #F2F2EA;
  --ion-color-favorite-rgb: 242,242,234;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0,0,0;
  --ion-color-favorite-shade: #D1CEC7;
  --ion-color-favorite-tint: #f3f3ec;

  /** buttons **/
  --ion-color-buttons: #E7E4DF;
  --ion-color-buttons-rgb: 231,228,223;
  --ion-color-buttons-contrast: #000000;
  --ion-color-buttons-contrast-rgb: 0,0,0;
  --ion-color-buttons-shade: #cbc9c4;
  --ion-color-buttons-tint: #e9e7e2;

  /** login **/

  --ion-color-login: #BAB6B5;
  --ion-color-login-rgb: 186,182,181;
  --ion-color-login-contrast: #000000;
  --ion-color-login-contrast-rgb: 0,0,0;
  --ion-color-login-shade: #a4a09f;
  --ion-color-login-tint: #c1bdbc;

  /** loogin **/

  --ion-color-loogin: #D1CEC7;
  --ion-color-loogin-rgb: 209,206,199;
  --ion-color-loogin-contrast: #000000;
  --ion-color-loogin-contrast-rgb: 0,0,0;
  --ion-color-loogin-shade: #b8b5af;
  --ion-color-loogin-tint: #d6d3cd;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.ion-color-buttons {
  --ion-color-base: var(--ion-color-buttons);
  --ion-color-base-rgb: var(--ion-color-buttons-rgb);
  --ion-color-contrast: var(--ion-color-buttons-contrast);
  --ion-color-contrast-rgb: var(--ion-color-buttons-contrast-rgb);
  --ion-color-shade: var(--ion-color-buttons-shade);
  --ion-color-tint: var(--ion-color-buttons-tint);
}

.ion-color-login {
  --ion-color-base: var(--ion-color-login);
  --ion-color-base-rgb: var(--ion-color-login-rgb);
  --ion-color-contrast: var(--ion-color-login-contrast);
  --ion-color-contrast-rgb: var(--ion-color-login-contrast-rgb);
  --ion-color-shade: var(--ion-color-login-shade);
  --ion-color-tint: var(--ion-color-login-tint);
}

.ion-color-loogin {
  --ion-color-base: var(--ion-color-loogin);
  --ion-color-base-rgb: var(--ion-color-loogin-rgb);
  --ion-color-contrast: var(--ion-color-loogin-contrast);
  --ion-color-contrast-rgb: var(--ion-color-loogin-contrast-rgb);
  --ion-color-shade: var(--ion-color-loogin-shade);
  --ion-color-tint: var(--ion-color-loogin-tint);
}
