// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.modal-style {
    background: rgba(0, 0, 0, 0.5) !important;
   padding: 20% 10%  !important;
}